
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        
    <title>Document</title>
</head>
<body>
    <%- include('./../partials/nav') %>

    <main>
        <section class="bg-dark text-secondary px-4 py-5 text-center">
          <% if (profile.avatar) { %>
            <img
              class="image-rounded" 
              src="<%= profile.avatar %>" 
              alt="<%= profile.name %>'s avatar"
            >
          <% } else {%>
            <img
              src="/images/icons/user.png" 
              alt="A placeholder avatar"
            >
          <% } %> 
          <h1 class="display-5 fw-bold text-white pt-2"><%= profile.name %></h1>
          <div class="container py-4">
            <table class="table table-dark table-striped align-middle">
              <tbody>
                
                  <tr>
                    <td>Google Email:</td>
                    <td><%=  %></td>
                  </tr>
               
                <tr>
                  <td>Name:</td>
                  <td><%= profile.name %></td>
                </tr>
                <tr>
                  <td>Avatar URL:</td>
                  <td>
                    <a href="<%= profile.avatar %>">
                      <%= profile.avatar.substring(0, 35) %>
                      <% if (profile.avatar.length > 35) { %>
                      ...
                      <% } %>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          
            <%# This is where we'll add the UI to edit a profile %> 
            <a 
              class="btn btn-warning"
              role="button" 
              href="/profiles/<%= profile._id %>/edit"
            >
              Edit Profile
            </a>
            <a 
              class="btn btn-danger ms-4"
              role="button" 
              href="/auth/logout"
            >
              Logout
            </a>
          
</body>
</html>
  
